.task {
  width: calc(100% - 10px);

  margin: 5px;
  padding: 6px 8px;

  border-radius: 3px;

  box-shadow: 0 1px 0 rgba(9,30,66,.25);

  cursor: pointer;
  
  background-color: #fff;

  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.task:hover {
  background-color: #f4f5f7;
}

.task .task-name {
  margin-left: 5px;
}
