.main-page {
  margin: 0 auto;
  padding: 5px;
  max-width: 500px;
  min-height: 100vh;
  width: 100%;  

  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;

  color: #172b4d;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  color: #0079bf;
}